.products_container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 40px 20px;
}

.product_grid {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.product_filter {
  width: 100%;
  height: auto;
  background-color: #f0f8ff;
  padding: 10px;
}

.filter_text {
  align-items: center;
  text-align: center;
  font-family: var(--pfonts);
  letter-spacing: 1.5px;
  font-size: 16px;
  color: var(--dblue);
  font-weight: 500;
}
.filter_cat {
  margin-top: 20px;
  border-top: 1px solid var(--lgrey);
  width: 100%;
  height: auto;
  padding: 5px 10px;
}

.filter_cat p {
  font-family: var(--pfonts);
  margin-top: 10px;
  color: var(--dblue);
  padding-bottom: 5px;
  font-weight: 400;
}

.product_card{
  width: 100%;
  height: auto;
  padding: 40px 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
   flex-wrap: wrap;
}

.p_card{
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  position: relative;
  /* overflow: hidden; */
  /* border: 1px solid var(--dblue); */
}

.p_img{
  width: 100%;
  height: 300px;
 padding: 10px;  
 overflow: hidden;
}

.p_img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.p_img img:hover{
  transform: scale(1.01);
}

.p_card h3{
   font-family: var(--pfonts);
    padding-top: 10px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden;
    width: 95%;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    color: rgb(71, 70, 70);
    text-transform: capitalize;
    padding-bottom: 5px;
}

.p_card:hover h3 {
  color: var(--blue);
}


.p_card p{
  font-family: var(--pfonts);
  font-size: 16px ;
  font-weight: 600;
  text-transform: capitalize;
  padding-bottom: 5px;

}

.p_card p > del{
font-family: var(--pfonts);
color: #9A9A9A;

}

.clear_filter {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.clear_filter p{
  width: auto;
  margin-top: 7px;
  padding: 3px 8px;
  cursor: pointer;
  background-color: #3adf71;
  color: white;
  font-family: var(--pfonts);
}

.clear_filter p:active{
  background-color: #0a9438;

}

.p_cart_btn{
  position: absolute;
  bottom: 90px;
  left: 43%;

  background-color: var(--blue);
  padding: 10px;
  color: white !important;
  cursor: pointer;
  display: flex;
  border-radius: 2px;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
}

.p_cart_btn:hover{
  background-color: white;
  color: var(--black) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.p_card:hover .p_cart_btn {
  opacity: 1; /* Show on hover */
  bottom: 90px;
  /* Adjusted margin-top on hover */
}


.input_container{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #e6f5faec;

}

.input_container input{
  width: 30%;
  font-family: var(--pfonts); 
  padding: 10px;
  border: none;
  cursor:text;
  outline: none;
  
}

.input_container input:focus{
  border: 1px solid var(--dblue);
}

.product_loading{
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}