.nav_list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nav_list li{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}


.navbar_right{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 40px;
    width: 40px;
    border-style: none;

    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 40px;
    height: 40px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:white ;
    background-color: #BDBDBD;
  }
  .btn-search:focus ~ .input-search{
    color: black;
    width: 300px;
    border-radius: 0px;
    background-color: rgb(241, 234, 235);
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    border-radius: 5px;

  }
  .input-search:focus{
    width: 300px;
    color: black;
    border-radius: 0px;
    background-color: rgb(231, 229, 229);
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    border-radius: 5px;

  }

  @media screen and (max-width : 450px) {
    .navbar_right{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 6px;
  }

    .btn-search:focus ~ .input-search{
      color: black;
      width: 300px;
      position: absolute;
      margin-top: 45px;
      right: -125px;
      border-radius: 0px;
      background-color: rgb(241, 234, 235);
      border-bottom:1px solid rgba(255,255,255,.5);
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      border-radius: 5px;
  
    }
    .input-search:focus{
      width: 300px;
      position: absolute;
      color: black;
      margin-top: 45px;
      right: -125px;
      border-radius: 0px;
      background-color: rgb(231, 229, 229);
      border-bottom:1px solid rgba(255,255,255,.5);
      transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
      border-radius: 5px;
    }

    .btn-search{
      width: 40px;
      height: 40px;
      border-style: none;
      font-size: 20px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: absolute;
      right: 0px;
      color:white ;
      background-color: #BDBDBD;
    }
    /* .btn-search:focus{
     margin-top: -19px;
      right: -15px;
      margin-left: -30px !important;
    } */
  }
  
  