

.herioimg{
    width: 100%;
    height:400px;
    padding: 10px 20px;
    margin-top: 50px;
    /* position: relative; */
    margin-bottom: 30px;
    /* z-index: 0; */
}


.title{
    position: absolute;
    z-index: 10;
    left: 5%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.title p {
    font-family: "Poppins", sans-serif !important; 
    font-size: 30px;
}

@media screen and (max-width:750px) {
    .herioimg{
        width: 100%;
        height:250px;
        padding: 10px 20px;
        margin-top: 30px;
        /* position: relative; */
        margin-bottom: 30px;
        /* z-index: 0; */
    }
    .title{
        position: absolute;
        z-index: 10;
        left: 5%;
        top: 35%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
    }
}