.swiper-container {
  width: 100%;
  height: auto;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */

  width: 100%;
  height: auto;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  background-color: rgb(240, 238, 238); /* Background color of the arrows */
  color: #000; /* Color of the arrows */
  z-index: 10; /* Ensure arrows are above other content */
  padding: 2px !important;
  border-radius: 100%;
}

.swiper-button-prev {
  left: calc(50% - 30px); /* Adjust the position and width */
  transform: translateX(-50%) translateY(200%);
}

.swiper-button-next {
  right: calc(50% - 30px); /* Adjust the position and width */
  transform: translateX(50%) translateY(200%);
}

.swiper-button-next::after {
  font-size: 20px;
}
.swiper-button-prev::after {
  font-size: 20px;
}
.swiper-button-next:hover {
  color: white;
  background-color: black;
}
.swiper-button-prev:hover {
  color: white;
  background-color: black;
}

/*....................................hero text................................. */

.hero_text_container {
  width: 100%;
  height: 555px;
  background-image: url("../../../assets//hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  padding-left: 15%;
  box-sizing: border-box;
}

.hero_text_container div {
  width: 421px;
  overflow: hidden;
  height: auto;
  font-family: "Poppins", sans-serif;
}

.hero_text_container div > p {
  font-size: 27px;
  font-weight: 300;
  padding-bottom: 35px;
  line-height: 24px;
}

.hero_text_container div > h1 {
  font-size: 60px;
  font-weight: 600;
  color: rgb(48, 58, 10);
  padding-bottom: 20px;
}

.shop_btn {
  width: 165px !important;
  height: 50px !important;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0% !important;
}

.shop_btn:hover {
  background-color: black !important;
  color: white !important;
  width: 165px !important;
  height: 50px !important;
  font-size: 16px;
  font-weight: 400;
  border-radius: 0% !important;
}

@media screen and (max-width: 450px) {
  .swiper-container {
    width: 100%;
    height: 120px;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev {
    left: calc(50% - 24px); /* Adjust the position and width */
    transform: translateX(-50%) translateY(150%);
  }

  .swiper-button-next {
    right: calc(50% - 24px); /* Adjust the position and width */
    transform: translateX(50%) translateY(150%);
  }

  .swiper-button-next::after {
    font-size: 10px;
  }
  .swiper-button-prev::after {
    font-size: 10px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    background-color: rgb(240, 238, 238); /* Background color of the arrows */
  }

  .hero_text_container {
    width: 100%;
    height: 270px;
    background-size: cover;
    background-position: center;
    padding-left: 4%;
  }

  .hero_text_container div {
    width: 213px;
  }

  .hero_text_container div > p {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 15px;
    line-height: 24px;
  }

  .hero_text_container div > h1 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(48, 58, 10);
    padding-bottom: 18px;
  }

  .shop_btn {
    width: 140px !important;
    height: 40px !important;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0% !important;
  }

  .shop_btn:hover {
    background-color: black !important;
    color: white !important;
    width: 140px !important;
    height: 40px !important;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0% !important;
  }
}

@media screen and (max-width: 750px) {
  .swiper-container {
    width: 100%;
    height: 120px;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev {
    left: calc(50% - 24px); /* Adjust the position and width */
    transform: translateX(-50%) translateY(150%);
  }

  .swiper-button-next {
    right: calc(50% - 24px); /* Adjust the position and width */
    transform: translateX(50%) translateY(150%);
  }

  .swiper-button-next::after {
    font-size: 10px;
  }
  .swiper-button-prev::after {
    font-size: 10px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 30px; /* Adjust width as needed */
    height: 30px; /* Adjust height as needed */
    background-color: rgb(240, 238, 238); /* Background color of the arrows */
  }

  .hero_text_container {
    width: 100%;
    height: 270px;
    background-size: cover;
    background-position: center;
    padding-left: 11%;
  }

  .hero_text_container div {
    width: 214px;
  }

  .hero_text_container div > p {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 15px;
    line-height: 24px;
  }

  .hero_text_container div > h1 {
    font-size: 25px;
    font-weight: 600;
    color: rgb(48, 58, 10);
    padding-bottom: 18px;
  }

  .shop_btn {
    width: 140px !important;
    height: 40px !important;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0% !important;
  }

  .shop_btn:hover {
    background-color: black !important;
    color: white !important;
    width: 140px !important;
    height: 40px !important;
    font-size: 16px;
    font-weight: 400;
    border-radius: 0% !important;
  }
}
