.topdeals_container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: white;
  padding: 0px 55px;
}

.topdeals {
  padding: 0px 15px;
}

.topdeals_top {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.topdeals_top h2 {
  font-family: var(--pfonts);
  padding: 10px 5px;
  font-weight: 600;
  font-size: 30px;
}
.topdeals_top p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--grey);
  font-family: var(--pfonts);
}

.topdeals_bottom {
  margin-top: 60px;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
    /* border: 1px solid red; */
}
.card h3 {
    font-family: var(--pfonts);
    padding-top: 10px;
    white-space: nowrap; 
    text-overflow: ellipsis;
    height: auto;
    overflow: hidden;
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    color: rgb(71, 70, 70);
    text-transform: capitalize;
    padding-bottom: 5px;
}

.card:hover h3 {
  white-space: normal; 
  overflow:visible;
}



.card p{
    font-family: var(--pfonts);
    font-size: 16px ;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 5px;

}

.card h5{
    font-family: var(--pfonts);
    font-size: 14px ;
    font-weight: 600;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.card_img {
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 10px;

}


.cart_buton {
  position: absolute;
  margin-left: 39%;
  margin-top: -20px;
  background-color: var(--blue);
  padding: 10px;
  color: white !important;
  cursor: pointer;
  display: flex;
  border-radius: 2px;
  justify-content: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease, margin-top 0.3s ease; /* Smooth transition for opacity and margin-top */
}

.cart_buton:hover{
  background-color: white;
  color: var(--black) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}

.card:hover .cart_buton {
  opacity: 1; /* Show on hover */
  margin-top: -55px; /* Adjusted margin-top on hover */
}


.mySwiper{
    padding-bottom:10px ;
}

.card_img img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  transition: transform 0.3s ease; /* Adding a smooth transition */
}

.card_img img:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 750px) {
  .topdeals_container {
    padding: 0px 15px;
  }
}

@media screen and (max-width: 450px) {
  .cart_buton {
    position: absolute;
    margin-left: 38%;
    margin-top: -55px;
    color: white !important;
    opacity: 1; /* Initially hidden */
  }
}