.myorder_container{
    width: 100%;
    height: auto;
    background-color: #F1F3F6;
    padding: 20px 150px;
}

.order_card{
    background-color: white;
    border: 1px solid var(--lgrey);
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
    gap: 20px;
}
.no_orders{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.no_orders img{
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.order_img{
    width: 120px ;
    height: 90px;
}

.order_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.order_details{
    width: 400px;
    padding: 5px 10px;
}
.order_details p {
    padding: 5px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.order_price{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 80px;
    padding-top: 0px;
}
.order_price p{
    color: var(--blue);
    font-weight: 500;
}

.order_quantity {
    padding: 15px ;
    padding-top: 0px;
    font-weight: 500;
    color:var(--blue);
}

.order_status{
    width: 25%;
}

.order_total_price{
    width: 100%;
    padding: 5px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    border: 1px dashed #71CF58;
}

.order_total_price p:nth-child(2){
    color: #71CF58;
    font-weight: 600;
}
.order_total_price p>b>span:nth-child(1){
    color:var(--blue);
    font-size: 12px;
    text-transform: capitalize;
}

.order_total_price p>b>span:nth-child(2){
    color:var(--blue);
}